@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: oklch(0.98 0.005 220);
  --color-foreground: oklch(0.05 0.01 270);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: oklch(0.15 0.02 270);
  --color-sidebar-border: oklch(0.25 0.04 270);
  --color-sidebar-accent-foreground: oklch(0.9 0.02 270);
  --color-sidebar-accent: oklch(0.4 0.05 270);
  --color-sidebar-primary-foreground: oklch(0.95 0.02 270);
  --color-sidebar-primary: oklch(0.2 0.03 270);
  --color-sidebar-foreground: oklch(0.95 0.02 270);
  --color-sidebar: oklch(0.07 0.01 270);
  --color-chart-5: oklch(0.75 0.18 70.08);
  --color-chart-4: oklch(0.85 0.19 84.429);
  --color-chart-3: oklch(0.4 0.07 227.392);
  --color-chart-2: oklch(0.6 0.12 184.704);
  --color-chart-1: oklch(0.65 0.22 41.116);
  --color-ring: oklch(0.25 0.04 270);
  --color-input: oklch(0.15 0.02 270);
  --color-border: oklch(0.15 0.02 270);
  --color-destructive: oklch(0.6 0.25 27.325);
  --color-accent-foreground: oklch(0.95 0.02 270);
  --color-accent: oklch(0.4 0.05 270);
  --color-muted-foreground: oklch(0.6 0.06 270);
  --color-muted: oklch(0.6 0.06 270);
  --color-secondary-foreground: oklch(0.9 0.02 270);
  --color-secondary: oklch(0.4 0.05 270);
  --color-primary-foreground: oklch(0.95 0.02 270);
  --color-primary: oklch(0.45 0.18 274.3);
  --color-popover-foreground: oklch(0.95 0.02 270);
  --color-popover: oklch(0.07 0.01 270);
  --color-card-foreground: oklch(0.95 0.02 270);
  --color-card: oklch(0.9 0.02 260);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9 0.02 270);
  --foreground: oklch(0.05 0.01 270);
  --card: oklch(0.05 0.01 270);
  --card-foreground: oklch(0.95 0.02 270);
  --popover: oklch(0.1 0.02 270);
  --popover-foreground: oklch(0.95 0.02 270);
  --primary: oklch(0.3 0.07 270);
  --primary-foreground: oklch(0.95 0.02 270);
  --secondary: oklch(0.4 0.05 270);
  --secondary-foreground: oklch(0.85 0.02 270);
  --muted: oklch(0.6 0.06 270);
  --muted-foreground: oklch(0.6 0.06 270);
  --accent: oklch(0.2 0.04 270);
  --accent-foreground: oklch(0.95 0.02 270);
  --destructive: oklch(0.75 0.18 22.216);
  --border: oklch(0.2 0.03 270);
  --input: oklch(0.2 0.03 270);
  --ring: oklch(0.3 0.07 270);
  --chart-1: oklch(0.48 0.24 264.376);
  --chart-2: oklch(0.69 0.17 162.48);
  --chart-3: oklch(0.76 0.18 70.08);
  --chart-4: oklch(0.62 0.26 303.9);
  --chart-5: oklch(0.64 0.24 16.439);
  --sidebar: oklch(0.1 0.02 278);
  --sidebar-foreground: oklch(0.92 0.04 268);
  --sidebar-primary: oklch(0.45 0.18 274.3);
  --sidebar-primary-foreground: oklch(0.95 0.02 267.3);
  --sidebar-accent: oklch(0.3 0.15 278.1);
  --sidebar-accent-foreground: oklch(0.75 0.12 269.8);
  --sidebar-border: oklch(0.3 0.15 278.1);
  --sidebar-ring: oklch(0.4 0.18 276.2);
}

.dark {
  --background: oklch(0.07 0.01 270);
  --foreground: oklch(0.95 0.02 270);
  --card: oklch(0.07 0.01 270);
  --card-foreground: oklch(0.95 0.02 270);
  --popover: oklch(0.07 0.01 270);
  --popover-foreground: oklch(0.95 0.02 270);
  --primary: oklch(0.2 0.03 270);
  --primary-foreground: oklch(0.95 0.02 270);
  --secondary: oklch(0.4 0.05 270);
  --secondary-foreground: oklch(0.9 0.02 270);
  --muted: oklch(0.35 0.06 270);
  --muted-foreground: oklch(0.8 0.02 270);
  --accent: oklch(0.4 0.05 270);
  --accent-foreground: oklch(0.9 0.02 270);
  --destructive: oklch(0.6 0.25 27.325);
  --border: oklch(0.15 0.02 270);
  --input: oklch(0.15 0.02 270);
  --ring: oklch(0.25 0.04 270);
  --chart-1: oklch(0.65 0.22 41.116);
  --chart-2: oklch(0.6 0.12 184.704);
  --chart-3: oklch(0.4 0.07 227.392);
  --chart-4: oklch(0.85 0.19 84.429);
  --chart-5: oklch(0.75 0.18 70.08);
  --sidebar: oklch(0.07 0.01 270);
  --sidebar-foreground: oklch(0.95 0.02 270);
  --sidebar-primary: oklch(0.2 0.03 270);
  --sidebar-primary-foreground: oklch(0.95 0.02 270);
  --sidebar-accent: oklch(0.4 0.05 270);
  --sidebar-accent-foreground: oklch(0.9 0.02 270);
  --sidebar-border: oklch(0.15 0.02 270);
  --sidebar-ring: oklch(0.25 0.04 270);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
